<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="bookDao" name="dao" class="com.itheima.dao.impl.BookDaoImpl"/>-->

    <!--使用靜態工廠實例化bean-->
    <!--<bean id="orderDao" class="com.itheima.factory.OrderDaoFactory" factory-method="getOrderDao"/>-->

    <!--使用實例工廠實例化bean-->
    <!--<bean id="userDaoFactory" class="com.itheima.factory.UserDaoFactory"/>-->
    <!--<bean id="userDao" factory-bean="userDaoFactory" factory-method="getUserDao"/>-->

    <!--改良版-->
    <bean id="userDao" class="com.itheima.factory.UserDaoFactoryBean"/>

</beans>